.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  position: relative; /* Necesario para que position: absolute funcione */
  overflow: hidden; /* Evita scrollbars por las capas más grandes */
  background: linear-gradient(45deg, #02182b 0%, #001323 100%);
}

.hero_container {
  z-index: 1111;
  display: flex;
  justify-content: space-evenly;
  gap: 8rem;
  width: 80%;
  align-items: center;
  margin-bottom: 3rem;
}

.hero_container h3 {
  position: relative;
  top: -20px;
  color: #e1b12c;
  font-size: 1.3rem;
  transform: rotate(-5deg);
  letter-spacing: 0.5px;
  font-family: "Roboto";
}

.hero_container h1 {
  margin-top: 3rem;
  font-size: 3rem;
  /* color: #08415c; */
  color: #bfc2c7;
  font-family: "Roboto";
  line-height: 1.5;
}

.hero_container span {
  color: #f5f5f5;
  font-family: "Roboto";
  line-height: 1.5;
}

/* Las capas deben posicionarse absolutamente para superponerse */
.backgroundLayer,
.mainLayer,
.frontLayer {
  width: 400px;
  height: 400px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  border-radius: 50%;
}

.backgroundLayer {
  z-index: 1;
  position: absolute;
  top: 15%;
}

.mainLayer a,
.mainLayer button {
  pointer-events: auto;
}

.mainLayer {
  z-index: 2;
  position: absolute;
  top: 15%;
}

.frontLayer {
  z-index: 3;
  position: absolute;
}
.profile {
  max-width: 90%;
}

.sentinel_ref {
  position: relative;
  height: 100%;
  top: 50px;
  right: 0;
}

.links_spa {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-bottom: 1rem;

  font-size: 1rem;
  height: 100%;
  text-transform: uppercase;
}

.links_spa ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0;
  padding: 0;
  width: 100%;
}

.links_spa li {
  width: 100%;
  list-style-type: none;
  margin-bottom: 2rem;
  border-radius: 2rem;
  padding: 0.5rem 0;
  text-align: center;
  background-color: #e1b12c;
  box-shadow: 0 0 10px 5px #08415c74;
  cursor: pointer;
}

.links_spa a {
  text-decoration: none;
  color: #02182b;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}
.floating_spa {
  position: fixed;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;

  /* Override Layout */
  justify-content: center;
  width: fit-content;
  height: auto;

  /* Visuals (Glassmorphism) */
  background-color: #57575780;
  backdrop-filter: blur(20px);
  padding: 10px 20px;
  border-radius: 2rem;
  z-index: 9999;
  box-shadow: 0 4px 20px rgba(2, 24, 43, 0.5);
}

.floating_spa ul {
  gap: 2rem;
}

.floating_spa li {
  margin-bottom: 0;
  font-size: 1rem;
}

.links_external {
  width: 70%;
  padding: 0 1rem;
  font-size: 1.5rem;
  z-index: 1111;
  margin-top: 2rem;
}

.links_external a {
  display: inline-block;
  text-decoration: none;
  margin-right: 2rem;
  padding: 1rem 1.5rem;
  border: 2px solid #08415c;
  background-color: #041625c8;
  color: #f5f5f5;
  border-radius: 2rem;
  font-weight: 600;
  transition:
    transform 0.4s ease-in-out,
    background-color 0.3s ease-in-out;
  transform: scale(1);
}

.links_external a:hover {
  transform: scale(0.95);
  border: 2px solid #08415c;
  background-color: #e1b12c;
  color: #02182b;
}

@media (width > 748px) and (width <= 1058px) {
  .container {
    width: 100%;
    height: 100vh;
  }

  .hero_container h1 {
    font-size: 3rem;
  }

  .hero_container h3 {
    position: relative;
    top: 0;
  }

  .sentinel_ref {
    position: absolute;
  }

  .profile {
    min-width: 100%;
  }

  .links_spa {
    position: fixed;
    z-index: 1111;
    bottom: -20%;
    height: 5%;
  }

  .links_spa ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    margin: 0;
    padding: 0;
  }

  .links_spa a {
    padding: 0.5rem 0.8rem;
  }

  .links_spa li {
    display: inline-block;
    margin-bottom: 0;
    font-size: 1rem;
  }

  .links_spa li:hover {
    box-shadow: none;
  }

  .links_external {
    width: 100%;
    font-size: 1.4rem;
    z-index: 3;
  }

  .links_external a {
    margin: 0.5rem;
  }

  .floating_spa {
    padding: 1.8rem 1.5rem;
  }
}

@media (width <= 748px) {
  .container {
    width: 100%;
    height: 100vh;
  }

  .hero_container h1 {
    font-size: 2rem;
  }

  .hero_container h3 {
    position: relative;
    top: 0;
  }

  .sentinel_ref {
    position: absolute;
  }

  .profile {
    min-width: 100%;
  }

  .links_spa {
    position: fixed;
    z-index: 1111;
    bottom: -20%;
    height: 5%;
  }

  .links_spa ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    margin: 0;
    padding: 0;
  }

  .links_spa a {
    padding: 0.7rem;
    font-size: 0.9rem;
  }

  .links_spa li {
    display: inline-block;
    margin-bottom: 0;
    font-size: 1rem;
  }

  .links_spa li:hover {
    box-shadow: none;
  }

  .links_external {
    width: 100%;
    font-size: 1.2rem;
    z-index: 3;
  }

  .links_external a {
    margin: 0.5rem;
  }

  .floating_spa {
    padding: 1.5rem 1rem;
  }
}
