.container {
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel_container {
  width: 100%;
  height: 620px;
  background-color: #02182ba2;
  overflow: hidden;
  position: relative;
  gap: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-top: 5px solid #e1b12c;
  border-bottom: 5px solid #e1b12c;
}

.carousel {
  width: 100%;
  display: flex;
  gap: 3rem;

  justify-content: flex-start;
  align-items: center;

  padding: 20px 48px;
  flex-wrap: nowrap;

  cursor: grab;
}
.carousel:active {
  cursor: grabbing;
}

.card_container {
  max-width: 100%;
  border-radius: 2rem;
  border: 1px solid #e1b12cbc;
  height: 500px;
  min-width: 33.3%;
  background-color: rgb(0, 0, 0);
  color: #fff;
}

.card_container h3 {
  font-size: 2.2rem;
  font-weight: bold;
  text-align: center;
}

.card_container p {
  text-align: left;
  font-size: 1.1rem;
  font-family: "Roboto";
  color: #bfc2c7;
}

.card_container img {
  border-radius: 1rem;
  /* object-fit: cover; */
}

.card_container button,
.card_container a {
  height: 40px;
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  background-color: #e1b12c;
  border-radius: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  /* transition: all 0.2s ease-out; */
  transition:
    background-color 0.2s ease-out,
    transform 0.1s;
}

.card_container :where(button, a):hover {
  background-color: #cb9c1ce2;
}

.card_container :where(button, a):active {
  cursor: pointer;
  transform: scale(0.95);
}

.card {
  height: 100%;
  width: 100%;
  max-height: 100%;
  padding: 2.2rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1.6rem;
}

.card div {
  display: flex;
  width: 100%;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.card svg {
  width: 25px;
  height: 25px;
  color: black;
}

.card_dropup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  height: 100%;
  width: 100%;
  padding: 2rem;
}

.card_dropup h1 {
  font-size: 2.5rem;
}

.card_dropup ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.card_dropup li {
  display: flex;
  justify-content: center;
  align-items: center;

  list-style: none;
  padding: 0.6rem;
  border-radius: 2rem;
  /* font-size: 1rem; */
  /* background-color: #fff; */
  cursor: pointer;
  scale: 1;
  transform: translateY(0);
  transition: all 0.3s ease-in-out;
}

.card_dropup li:hover {
  background-color: #463f3f;
  scale: 1.1;
  transform: translateY(-10px);
}
.card_dropup svg {
  color: #bfc2c7;
  border-radius: 1rem;
  width: 3rem;
  height: 3rem;
}

.btn_container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.btn_carousel {
  border-radius: 3rem;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}

@media (width <= 450px) {
  .card_container {
    min-width: 100%;
  }

  .carousel {
    padding: 20px;
  }

  .card button {
    width: 65%;
    font-size: 0.9rem;
  }

  .card a {
    width: 35%;
  }
}

@media (width <= 748px) and (width > 450px) {
  .card_container {
    min-width: 100%;
  }

  .card {
    padding: 1.8rem;
    gap: 1.2rem;
  }

  .card button {
    width: 65%;
    font-size: 0.9rem;
  }

  .card a {
    width: 35%;
  }

  .card_dropup ul {
    gap: 1rem;
  }

  .card_dropup svg {
    border-radius: 0.5rem;
    width: 3rem;
    height: 3rem;
  }
}

@media (width <=1058px) and (width > 748px) {
  .card_container {
    min-width: 48%;
  }

  .card_dropup svg {
    border-radius: 0.5rem;
    width: 2.7rem;
    height: 2.7rem;
  }

  .card_container p {
    font-size: 0.9rem;
  }

  .card_container h3 {
    font-size: 2rem;
  }
}
