.container {
  height: 100vh;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel_container {
  width: 100%;
  height: 620px;
  background-color: #02182ba2;

  overflow: hidden;
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */

  border-top: 5px solid #e1b12c;
  border-bottom: 5px solid #e1b12c;
}

.carousel {
  width: calc(90% - 3rem);
  display: flex;
  gap: 3rem;
  margin: 0 3rem;

  justify-content: space-around;
  align-items: center;

  padding: 15px 0;
  flex-wrap: nowrap;

  cursor: grab;
}
.carousel :active {
  cursor: grabbing;
}

.card_container {
  max-width: 100%;
  border-radius: 2rem;
  padding: 2rem;
  border: 1px solid #e1b12c5a;
  height: 500px;
  min-width: 33.3%;
  background-color: rgb(0, 0, 0);
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  gap: 1.2rem;
}

.card_container h3 {
  font-size: 1.8rem;
  font-weight: bold;
  /* text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff; */
}

.card_container p {
  text-align: left;
  font-size: 1.1rem;
  margin: 10px 0;
}

.card_container img {
  border-radius: 1rem;
  /* object-fit: cover;  */
}

.card_container button {
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  background-color: #e1b12c;
  border-radius: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  width: 100%;
  transition: all 0.2s ease-out;
}

.card_container button:hover {
  background-color: #cb9c1ce2;
}

.btn_container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.btn_carousel {
  border-radius: 3rem;
  padding: 5px;
  background-color: white;
  cursor: pointer;
}
