.about_container {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 10rem;
  justify-content: center;
  align-items: center;
}

.about_figure {
  height: 60%;
  width: 30%;
  border-radius: 50%;
  border: 2px solid gray;
}
